body {
  background-color: black;
  color: white;
  font-family: Verdana, sans-serif;
}

div.header {
  margin: auto;
  width: 70%;
  padding: 10px;
}

div.graph {
  border: white;
}

/* CSS */
button {
  background-color: teal;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 2px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
}

button:hover,
button:focus {
  background-color: #F082AC;
}

input {
  padding: 8px 1px;
  margin: 5px;
}

input.address {
  font-family: monospace;
  width: 35%;
}

div.overlay {
  overflow: hidden;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  background: rgba(100, 100, 100, 0.5);
}